<a href="https://colab.research.google.com/github/Kriban/MEAN_SHIFT_TITANIC/blob/master/MEAN_SHIFT_TITANIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
# will have to upload the data to colab files every time 
df = pd.read_excel('./titanic.xls')

In [0]:
original_df = pd.DataFrame.copy(df)

#Dropping uneccessary columns
#Filling N/A with 0
df.drop(['body', 'name'], 1, inplace=True)
df.fillna(0, inplace=True)

In [0]:
def handle_non_numerical_data(df):
  
  columns = df.columns.values
  
  for column in columns:
    text_digit_vals = {}
    def convert_to_int(val):
      return text_digit_vals[val]
    
    if df[column].dtype != np.int64 and df[column].dtype != np.float64:
      
      column_contents = df[column].values.tolist()
      
      unique_elements = set(column_contents)
      
      x = 0
      for unique in unique_elements:
        if unique not in text_digit_vals:
          text_digit_vals[unique] = x
          x += 1
          
      df[column] = list(map(convert_to_int,df[column]))

  return df

In [0]:
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'],1,inplace=True)

In [0]:
X = np.array(df.drop(['survived'],1).astype(float))

X = preprocessing.scale(X)

y = np.array(df['survived'])

clf = MeanShift()

clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=None, seeds=None)

In [0]:
labels = clf.labels_
cluster_cneters = clf.cluster_centers_

In [0]:
original_df['cluster_group']=np.nan

In [0]:
for i in range(len(X)):
  original_df['cluster_group'].iloc[i] = labels[i]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
  temp_df = original_df[ (original_df['cluster_group']==float(i))]
  
  survival_cluster = temp_df[ (temp_df['survived'] ==1) ]
  
  survival_rate = len(survival_cluster) / len(temp_df)
  
  survival_rates[i] = survival_rate
  
print(survival_rates)

{0: 0.37715179968701096, 1: 0.7894736842105263, 2: 0.1, 3: 1.0}

In [0]:
print(original_df[ (original_df['cluster_group']==1)].describe())

       pclass   survived        age      sibsp      parch        fare  body  \
count    19.0  19.000000  19.000000  19.000000  19.000000   19.000000   0.0
mean      1.0   0.789474  35.947368   1.210526   1.736842  297.859211   NaN
std       0.0   0.418854  16.300899   1.182227   1.194529   95.854826   NaN
min       1.0   0.000000  13.000000   0.000000   0.000000  227.525000   NaN
25%       1.0   1.000000  23.500000   0.000000   1.000000  262.375000   NaN
50%       1.0   1.000000  35.000000   1.000000   2.000000  262.375000   NaN
75%       1.0   1.000000  49.000000   2.000000   2.000000  263.000000   NaN
max       1.0   1.000000  64.000000   3.000000   4.000000  512.329200   NaN

       cluster_group
count           19.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [0]:
print(original_df[ (original_df['cluster_group']==0)].describe())

            pclass     survived          age        sibsp        parch  \
count  1278.000000  1278.000000  1017.000000  1278.000000  1278.000000
mean      2.310642     0.377152    29.669289     0.486698     0.321596
std       0.829032     0.484863    14.393897     1.040027     0.670922
min       1.000000     0.000000     0.166700     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    38.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     4.000000

              fare        body  cluster_group
count  1277.000000  119.000000         1278.0
mean     28.730948  159.571429            0.0
std      36.441420   97.302914            0.0
min       0.000000    1.000000            0.0
25%       7.895800   71.000000            0.0
50%      13.862500  155.000000            0.0
75%      30.000000  255.500000            0.0
max     227.525000  328.000000            0.0

In [0]:
print(original_df[ (original_df['cluster_group']==2)].describe())

       pclass   survived        age      sibsp      parch       fare  \
count    10.0  10.000000   8.000000  10.000000  10.000000  10.000000
mean      3.0   0.100000  39.875000   0.800000   6.000000  42.703750
std       0.0   0.316228   1.552648   0.421637   1.632993  15.590194
min       3.0   0.000000  38.000000   0.000000   5.000000  29.125000
25%       3.0   0.000000  39.000000   1.000000   5.000000  31.303125
50%       3.0   0.000000  39.500000   1.000000   5.000000  35.537500
75%       3.0   0.000000  40.250000   1.000000   6.000000  46.900000
max       3.0   1.000000  43.000000   1.000000   9.000000  69.550000

             body  cluster_group
count    2.000000           10.0
mean   234.500000            2.0
std    130.814755            0.0
min    142.000000            2.0
25%    188.250000            2.0
50%    234.500000            2.0
75%    280.750000            2.0
max    327.000000            2.0